<div class="container-fluid">
    <div class="custom-card">
      <script src="https://accounts.google.com/gsi/client" async defer></script>
        <div class="form-group">
            <input type="email" placeholder="Enter email address" class="form-control">
        </div>
        <div class="form-group">
            <input type="password" placeholder="Enter password" class="form-control">
        </div>
        <button class="btn btn-block btn-primary">Login</button>

        <p class="horizontal-line-text">
            <span>or</span>
        </p>
      <div id="g_id_onload"
           data-client_id="314867504948-pq3335tg83gjr0i5g13i7a79lcip70tu.apps.googleusercontent.com "
           data-login_uri="https://your.domain/your_login_endpoint"
           data-auto_prompt="false">
      </div>
      <div class="g_id_signin"
           data-type="standard"
           data-size="large"
           data-theme="outline"
           data-text="sign_in_with"
           data-shape="rectangular"
           data-logo_alignment="left">
      </div>

    </div>
</div>
